// Variables
$orangepastel: #FAC898;
$pinkpastel: rgb(249, 218, 206);
$bluepastel: rgb(174, 216, 230);


* {
  margin: 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background-color: $bluepastel;
  font-family: 'Comfortaa';
  margin: 0;
  height: 4rem;
  div {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 10rem;
  }
}

.nav-items {
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bluepastel;
  font-family: 'Comfortaa';
  margin: 0;
  height: 4rem;

}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
}

.views {
  height: 20rem;
  background-color: $orangepastel;
  font-family: 'Comfortaa';
  margin: 0;
  height: 50rem;
}